.welcome {
  background-image: url("../../assets/background1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.welcome .welcome_gray {
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(119, 122, 125, 0.109)
  );
}

.welcome .welcome_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 180px 15px 180px 15px;
  margin: 0 200px;
  gap: 3rem;
}

.welcome_content .welcome_txt {
  font-weight: 100;
  color: rgb(59, 59, 59);
}

.welcome_content .welcome_txt h1 {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 3.5rem;
  font-weight: 500;
}

.welcome_content .welcome_txt :nth-child(2) {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 46px;
  font-weight: 400;
}

.welcome_content .welcome_txt p {
  color: rgb(163, 163, 163);
  margin: 0;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.welcome_content .welcome_txt button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: linear-gradient(90deg, #3956de 0, #657be5);
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  width: 11rem;
  height: 3rem;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.456);
}

.welcome_content .welcome_txt button img {
  width: 2rem;
}

.welcome_content .welcome_img img {
  max-width: 35rem;
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .welcome .welcome_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 250px 40px;
    margin: 0;
    gap: 0;
    height: 1000px;
  }

  .welcome_content .welcome_img img {
    max-width: 28rem;
    padding: 1rem 0 0 2.1rem;
  }

  .welcome .welcome_gray {
    background: linear-gradient(
      rgba(119, 122, 125, 0.04),
      rgba(119, 122, 125, 0.03)
    );
  }
}

@media screen and (max-width: 991px) {
  .welcome .welcome_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px 140px 160px 140px;
    margin: 0;
    gap: 0;
  }

  .welcome_content .welcome_img img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
    margin: 0;
    max-width: 580px;
  }
}

@media screen and (max-width: 768px) {
   .welcome .welcome_content {
    padding: 80px 40px 100px 40px;
    margin: 0;
    gap: 0;
    height: 1000px;
  }
}
